.dataRoom{
    width: 100%;
    min-width: 350px;
    height: 400px;
}
.dataRoom > div{
    position: relative;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
}

.dataRoom .temperatureAndHumidity{
    background-color: #00ffff;
    padding: 10px 0px;
}

.temperatureAndHumidity > span{
    display: block;
    border-radius: 10px;
    padding: 10px;
}

.dataRoom .stateAir, .dataRoom .statePresence{
    padding: 40px 10px;
}

.dataRoom .stateAir{
    background-color: #f0e68c;
}

.dataRoom .statePresence{
    background-color: #f08080;
}


/* Ver isso */
.dataRoom div span {
    font-weight: 500;
}

.dataRoom span > span{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 4px;
    font-weight: 400;
}