<fieldset class="controlAirRoom">
    <legend>Controle ar-condicionado</legend>

    <span class="displayNameRoom" [title]="dataRoom?.name_room"> {{ dataRoom?.name_room }} </span>
    
    <div class="displayTemperatureAir"> 
        <span *ngIf="current_temperature != 0; else elseTemp">{{ current_temperature }}</span> 
        <ng-template #elseTemp><span> 00 </span></ng-template>
    </div>

    <div class="btnTemperature">
        <button mat-button (click)="turnUpAir()"> + </button>
        <span>Temperatura</span>
        <button mat-button (click)="turnDownAir()"> - </button>
    </div>

    <div class="configAir">
        <input type="checkbox" id="cool" [checked]="current_state_cool" [(ngModel)]="current_state_cool">
        <label for="cool" ><img alt="Cool" src="assets/imgControl/cool.svg"> </label>
        
        <input type="checkbox" id="fan" [checked]="current_state_fan" [(ngModel)]="current_state_fan">
        <label for="fan"><img alt="fan" src="assets/imgControl/fan.svg" > </label>
        
        <label id="send" (click)="sendCommand()"> <img alt="Cool" src="assets/imgControl/send.svg" > </label>
        
    </div>

    <div class="turnOnShutdown">
        <button mat-button color="primary" (click)="turnOn()"> Ligar </button>
        <button mat-button  (click)="shutdown()"> Desligar </button>
    </div>

</fieldset>