<div class="container-crud">
    <span class="title-container-crud">Usuário</span>
    <div class="btn-nav">
        <button mat-raised-button color="primary" class="newItem" routerLink="/homeUser/new"> <img src="assets/crud/add_circle.svg"> Novo</button>
    </div>
      <fieldset>
          <legend>Lista</legend>
          <div class="mat-elevation-z2">
              <table mat-table [dataSource]="dataSource">
            
                <!-- id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Id. </th>
                  <td mat-cell *matCellDef="let element"> {{ element.id_user }} </td>
                </ng-container>

                <!-- nome Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name_user }} </td>
                </ng-container>
            
                <!-- login Column -->
                <ng-container matColumnDef="login">
                  <th mat-header-cell *matHeaderCellDef> Login </th>
                  <td mat-cell *matCellDef="let element"> {{ element.login }} </td>
                </ng-container>
            
                <!-- profile Column -->
                <ng-container matColumnDef="profile">
                  <th mat-header-cell *matHeaderCellDef> Perfil </th>
                  <td mat-cell *matCellDef="let element"> {{ element.profile_user }}  </td>
                </ng-container>
            
                <!-- active Column -->
                <ng-container matColumnDef="active">
                  <th mat-header-cell *matHeaderCellDef> Ativo </th>
                  <td mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.active_user" disabled="true"></mat-checkbox> </td>
                </ng-container>

                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Ações </th>
                  <td mat-cell *matCellDef="let element"> 
                      <img src="assets/crud/edit.svg" class="imgEdit" alt="Editar" title="Editar" (click)="editUser(element)">
                      <img src="assets/crud/delete.svg" class="imgDelete" alt="Deletar" title="Deletar" (click)="openDialogDelete(element)">
                      <img src="assets/crud/description.svg" class="imgDescription" alt="Detalhe" title="Detalhe">

                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </fieldset>
  
</div>
