.filter-room{
    font-size: 16px;
    width: 100%;
}

.filter-pavilion, .filter-room, .filter-shift{
    width: 300px;
}

.filter-room {
    left: 20px;
}

.filter-shift{
    left: 70px;
}

.btnFilter{
    left: 100px;
    height: 60px;
    width: 130px;
    transform: translateY(-8px);
    font-size: 16px;
}

.btnFilter img{
    transform: translateY(-2px);
    filter: invert(99%) sepia(20%) saturate(45%) hue-rotate(306deg) brightness(116%) contrast(92%);
}

fieldset .scheduleRoom{
    height: 400px;
    margin-bottom: 10px;
}

table {
    width: 100%; 
}

tr th, tr td{
    width: 70px;    
} 

.btnActions{
    position: relative;
    width: 120px;
    height: 60px;
    background-color: #c5c5c5;
    border-radius: 4px;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    float: right;
}

.btnActions img{
    transform: scale(1.5);
    margin: auto;
}