<div class="container-crud">
    <span class="title-container-crud">Ar-condicionado</span>
    <div class="btn-nav">
        <button mat-raised-button color="primary" class="newItem" routerLink="/homeAir/new"> <img src="assets/crud/add_circle.svg"> Novo</button>
    </div>
        <fieldset>
          <legend>Lista</legend>

          <mat-form-field appearance="fill" class="filter-pavilion">
            <mat-label>Filtro</mat-label>
            <mat-select matNativeControl (selectionChange)="selectedPavilion($event)" required>
              <mat-option> Limpar </mat-option>
              <mat-option value='unallocatedAir'> Ar-condicionado não alocado </mat-option>
              <mat-option value='listNotActiveAir'> Ar-condicionado inativado </mat-option>
              <mat-option *ngFor="let pavilion of pavilions" [value]="pavilion.idPavilion" > {{ pavilion.namePavilion }} </mat-option>
            </mat-select>
          </mat-form-field>

            <div class="mat-elevation-z2">
                <table mat-table [dataSource]="dataSource">
                
                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id. </th>
                        <td mat-cell *matCellDef="let element"> {{ element.idAir }} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="nameAir">
                        <th mat-header-cell *matHeaderCellDef> Nome Ar </th>
                        <td mat-cell *matCellDef="let element"> {{ element.nameAir }} </td>
                    </ng-container>

                    <!-- Allocated Column -->
                     <ng-container matColumnDef="allocated">
                        <th mat-header-cell *matHeaderCellDef> Alocado </th>
                        <td mat-cell *matCellDef="let element"> {{ element.allocatedAir ? 'Sim' : 'Não' }} </td>
                    </ng-container>

                    <!-- Temperature Min Column -->
                    <ng-container matColumnDef="temperatureMin">
                        <th mat-header-cell *matHeaderCellDef> Temp. min </th>
                        <td mat-cell *matCellDef="let element"> {{ element.temperatureMinAir }} </td>
                    </ng-container>

                    <!-- Temperature Max Column -->
                    <ng-container matColumnDef="temperatureMax">
                        <th mat-header-cell *matHeaderCellDef> Temp. max </th>
                        <td mat-cell *matCellDef="let element"> {{ element.temperatureMaxAir }} </td>
                    </ng-container>

                    <!-- URL Device Column -->
                    <ng-container matColumnDef="urlDevice">
                        <th mat-header-cell *matHeaderCellDef> URL do dispositivo </th>
                        <td mat-cell *matCellDef="let element"> {{ element.urlDeviceAir }} </td>
                    </ng-container>
                
                    <!-- Active Column -->
                    <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> Ativo </th>
                    <td mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.activeAir" disabled="true"></mat-checkbox> </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element"> 
                        <img src="assets/crud/edit.svg" class="imgEdit" alt="Editar" title="Editar" (click)="editAir(element)">
                        <img src="assets/crud/delete.svg" class="imgDelete" alt="Deletar" title="Deletar" (click)="openDialogDelete(element)">
                        <img src="assets/crud/description.svg" class="imgDescription" alt="Detalhe" title="Detalhe">

                    </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                
                <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </fieldset>
  
</div>