<div class="filter-room">
  
    <mat-form-field appearance="fill" class="filter-pavilion">
      <mat-label>Pavilhão</mat-label>
      <mat-select matNativeControl (selectionChange)="selectedPavilion($event)" required>
        <mat-option value="-1">Selecione</mat-option>
        <mat-option *ngFor="let pavilion of pavilions" [value]="pavilion.idPavilion" > {{ pavilion.namePavilion }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-shift">
        <mat-label>Turno</mat-label>
        <mat-select matNativeControl (selectionChange)="selectedShiftSchedule($event)" required>
          <mat-option value="notSelected">Selecione</mat-option>
          <mat-option value="shift_morning">Matutino</mat-option>
          <mat-option value="shift_afternoon">Vespertino</mat-option>
          <mat-option value="shift_night">Noturno</mat-option>
        </mat-select>
    </mat-form-field>
    
</div>
