<div class="filter-room">
  
    <mat-form-field appearance="fill" class="filter-pavilion">
      <mat-label>Pavilhão</mat-label>
      <select matNativeControl required (change)="selectedPavilion($event)">
        <option value="0">Selecione</option>
        <option *ngFor="let pavilion of pavilions" [value]="pavilion.id_pavilion" > {{ pavilion.name_pavilion }} </option>
  
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-shift">
        <mat-label>Turno</mat-label>
        <select matNativeControl required>
          <option value="">Selecione</option>
          <option value="1">Matutino</option>
          <option value="2">Vespertino</option>
          <option value="3">Noturno</option>
        </select>
    </mat-form-field>
    
</div>
