
<div [formGroup]="formGroup">
    <mat-form-field class="name">
        <mat-label>{{ fieldName }}</mat-label>
        <input matInput [placeholder]="fieldName" [id]="fieldIdentify" [name]="fieldIdentify" [formControlName]="fieldIdentify">

        <mat-error *ngIf="formControl.errors?.required">{{ validationField.requiredTextField() }}</mat-error>
        <mat-error *ngIf="formControl.errors?.minlength">{{ validationField.textMinLength( formControl.errors.minlength.requiredLength ) }}</mat-error>
        <mat-error *ngIf="formControl.errors?.maxlength">{{ validationField.textMaxLength( formControl.errors.maxlength.requiredLength ) }}</mat-error>
    </mat-form-field>
</div>
