
 
<mat-drawer-container class="container" hasBackdrop="true" >
    <mat-drawer #drawer mode="over" class="menu" [(opened)]="openedMenu">

    <img src="assets/menu/close.svg" class="imgClose" mat-raised-button (click)="drawer.toggle()">
    
    <div class="titleMenu">
        MENU
    </div>

    <div>
        <ul>
            <li> <img src="assets/menu/pavilion.svg"><a>Configurações de Pavilhão</a></li>
        </ul>
        <ul>
            <li> <img src="assets/menu/class.svg"><a>Configurações de Sala</a></li>
        </ul>
        <ul>
            <li> <img src="assets/menu/air-conditioning.svg"><a>Configurações de Ar-condicionado</a></li>
        </ul>
        <ul>
            <li> <img src="assets/menu/schedule.svg"><a>Configurações de Horário</a></li>
        </ul>
        <ul>
            <li> <img src="assets/menu/user.svg"><a>Configurações de Usuário</a></li>
        </ul>
    </div>
        
    </mat-drawer>
 
    <mat-drawer-content>
        
        <app-header (openedMenuEmmiter)="openMenu($event)" [openedMenu]="openedMenu"></app-header>


        <div class="mainScreen">
            <router-outlet></router-outlet>
        </div>
x
        <app-footer></app-footer>

    </mat-drawer-content>
</mat-drawer-container>

