.filterAir {
    position: relative;
    display: inline-block;
}

.filterAir {
    left: 100px;
}

.filterAir ::ng-deep.newAir{
    margin-left: 30px;
}

.nomeRoom {
    position: relative;
    display: block;
}