<div class="container-crud">
    <span class="title-container-crud">Sala</span>
    <div class="btn-nav">
        <button mat-raised-button color="primary" class="newItem" (click)="cancelEditRoom()"> <img
                src="assets/crud/list.svg"> Lista </button>
    </div>

    <fieldset>
        <legend> {{ roomService.edit ? "Atualizar" : "Nova" }}</legend>
        <form class="form-room" autocomplete="off" novalidate [formGroup]="roomForm" (ngReset)="resetForm()"
            (ngSubmit)="onSave()">


            <app-field-select fieldName="Pavilhão" fieldIdentify="fkIdPavilion" [elementsValue]="fieldsSelectPavilion"
                [formGroup]="roomForm">
            </app-field-select>

            <div class="filterAir">

                <app-field-select *ngIf="roomService.edit" fieldName="Ar-condicionado atual" fieldIdentify="fkIdAir"
                    [elementsValue]="[{id: room.fkIdAir, value: room.nameAir}]" [formGroup]="roomForm">
                </app-field-select>

                <app-field-select class="newAir" fieldName="Novo ar-condicionado" fieldIdentify="fkIdNewAir"
                    [elementsValue]="fieldsSelectAirUnallocated" [formGroup]="roomForm">
                </app-field-select>

            </div>

            <app-input-text class="nomeRoom" fieldName="Sala" fieldIdentify="nameRoom" [formGroup]="roomForm">
            </app-input-text>

            <app-input-checkbox fieldIdentify="activeRoom" [formGroup]="roomForm"></app-input-checkbox>

            <div class="btnActionForm">
                <button mat-raised-button color="warn" type="button" class="cancel" (click)="cancelEditRoom()"> <img
                        src="assets/crud/cancel.svg"> Cancelar </button>
                <button mat-raised-button color="primary" type="submit" class="save" [disabled]="!roomForm.valid"> <img
                        src="assets/crud/save.svg"> Salvar </button>
            </div>
        </form>
    </fieldset>
</div>
