<div class="container-crud">
    <span class="title-container-crud">Ar-condicionado</span>
    <div class="btn-nav">
        <button mat-raised-button color="primary" class="newItem" routerLink="/homeAir/list"> <img src="assets/crud/list.svg"> Lista </button>
    </div>
 
    <fieldset>
        <legend>{{ edit ? "Atualizar ar-condicionado" : "Novo ar-condicionado" }}</legend>
        <form class="form-air" #airForm="ngForm" (ngSubmit)="onSubmit()">
            
            <div class="name_air">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome ar-condicionado" id="name_air" name="name_air" [(ngModel)]="air.name_air" minlength="3" maxlength="45" required>
                </mat-form-field>
            </div>
            
            <div class="temperature-container">
                <div class="temperature_min_air">
                    <mat-form-field>
                        <mat-label>Temp. Min</mat-label>
                        <input matInput type="number" placeholder="temp." id="temperature_min_air" name="temperature_min_air" [(ngModel)]="air.temperature_min_air" required>
                    </mat-form-field>
                </div>
                
                <div class="temperature_max_air">
                    <mat-form-field>
                        <mat-label>Temp. Max</mat-label>
                        <input matInput type="number" placeholder="temp." id="temperature_max_air" name="temperature_max_air" [(ngModel)]="air.temperature_max_air" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="url_device_air">
                <mat-form-field>
                    <mat-label>URL do dispositivo</mat-label>
                    <input matInput placeholder="URL" id="url_device_air" name="url_device_air" [(ngModel)]="air.url_device_air" pattern="http?://.+" title="Inclua http://" minlength="14" maxlength="45" required>
                </mat-form-field>
            </div>
            
            
            <div class="active">
                <mat-label>Ativo</mat-label>
                <mat-checkbox id="active_air" name="active_air" [(ngModel)]="air.active_air"></mat-checkbox> 
            </div> 
            
            <div class="btnActionForm">
                <button mat-raised-button color="warn" type="button" class="cancel" routerLink="/homeAir/list"> <img src="assets/crud/cancel.svg"> Cancelar </button>
                <button mat-raised-button color="primary" type="submit" class="save" [disabled]="!airForm.form.valid"> <img src="assets/crud/save.svg"> Salvar </button>
            </div>
        </form>       
    </fieldset>
</div>
