<div class="container-crud">
    <span class="title-container-crud">Ar-condicionado</span>
    <div class="btn-nav">
        <button mat-raised-button color="primary" class="newItem" routerLink="/homeAir/list"> <img src="assets/crud/list.svg"> Lista </button>
    </div>
 
    <fieldset>
        <legend>{{ airService.isEdit ? "Atualizar ar-condicionado" : "Novo ar-condicionado" }}</legend>
        <form class="form-air" autocomplete="off" novalidate [formGroup]="airForm" (ngSubmit)="onSave()">
               
            <div class="name_air">
                <app-input-text fieldName="Nome" fieldIdentify="nameAir" [formGroup]="airForm"></app-input-text>
            </div>
            
            <div class="temperature-container">
                <div class="temperature_min_air">
                    <app-input-number fieldName="Temp. Min" fieldIdentify="temperatureMinAir" [formGroup]="airForm"></app-input-number>
                </div>
                
                <div class="temperature_max_air">
                    <app-input-number fieldName="Temp. Max" fieldIdentify="temperatureMaxAir" [formGroup]="airForm"></app-input-number>
                </div>
            </div>

            <div class="url_device_air">
                <app-input-text fieldName="URL do Dipositivo" fieldIdentify="urlDeviceAir" [formGroup]="airForm" pattern="http?://.+"></app-input-text>
            </div>          
                         
            <div class="active">
                <app-input-checkbox fieldIdentify="activeAir" [formGroup]="airForm"></app-input-checkbox>           
            </div>
            
            <div class="btnActionForm">
                <button mat-raised-button color="warn" type="button" class="cancel" routerLink="/homeAir/list"> <img src="assets/crud/cancel.svg"> Cancelar </button>
                <button mat-raised-button color="primary" type="submit" class="save" [disabled]="!airForm.valid"> <img src="assets/crud/save.svg"> Salvar </button>
            </div>
        </form>       
    </fieldset>
</div>
