/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

fieldset{
    top: 10px;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: 400;

}

legend{
    border: solid 1px #c5c5c5;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #f1f1f1;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*
    CSS Mat-SnacBar
*/
.mat-snack-bar-container{
    position: relative;
    color: #f5f5f5;
    top: 50px;
    width: 350px;
    word-break: break-word;
}

.mat-simple-snackbar-action button{
    color: #f5f5f5;
}

.dangerMessage{
    background-color: #d32f2f;
}

.alertMessage{
    background-color: #FFA035;
}

.successMessage{
    background-color: #43a047;
}

.primaryMessage{
    background-color: #3f51b5;
}