<mat-card class="cardRoom">
    <mat-card-header class="cardHeader">
      <mat-card-title> {{ room.name_room }} </mat-card-title>
      <img src="assets/imgControl/clock.svg" alt="Horário" title="Horário" (click)="clickedSchedule(room.id_room)">
    </mat-card-header>
    <mat-card-content class="paramAir">
      <h4>Ar: 
        <div *ngIf="room.turn_on_air == 1; then airTurnOn else airTurnOff"></div>
        <ng-template #airTurnOn> <span class="turnOn">Ligado</span> </ng-template>
        <ng-template #airTurnOff> <span class="turnOff">Desligado</span> </ng-template>

      </h4>
      <span>{{ room.current_temperature_air }} º</span>

    </mat-card-content>
    
</mat-card>
