img{
    width: 22px;
    position: absolute;
    right: 10px;
    transform: translateY(5px);
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
}

img:active{
    opacity: 0.5;
}

.cardRoom{
    width: 200px;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px #bfbfbf;
    color: #f5f5f5;
}

h4{
    width: 80%;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}

h4 span{
    border-radius: 4px;
    padding: 4px;    
    color: #f5f5f5;
    letter-spacing: 1.5px;
}

h4 .turnOn{
    background-color: rgba(0,255,0, 0.8);
}

h4 .turnOff{
    background-color: rgba(255,0,0, 0.8);
}

.cardRoom{
    display: inline-block;
    cursor: pointer;
}

::ng-deep.mat-card-header{
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    padding: 2px;
    background-color: rgba(0,100,255,.8);
    font-size: 20px;
}

::ng-deep.mat-card-header-text{
    margin: 0 2px !important;
    transform: translateY(5px);
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cardRoom ::ng-deep.mat-card-content{
    padding: 5px 0px 0px 0px;
    position: relative;
    top: 5px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin: 0 2px;
}
