<div class="container-crud">
    <span class="title-container-crud">Horário</span>
    <div class="btn-nav">
        <button mat-raised-button color="primary" class="newItem" routerLink="/homeSchedule/list"> <img src="assets/crud/list.svg"> Lista </button>
    </div>
 
    <fieldset>
        <legend> {{ edit ? 'Atualizar Horário' : 'Novo horário' }} </legend>

        <form class="form-schedule" #scheduleForm="ngForm" (ngSubmit)="onSubmit(scheduleForm)">

            <mat-form-field *ngIf="!edit" appearance="fill" class="filter-pavilion">
                <mat-label>Pavilhão</mat-label>
                <mat-select matNativeControl 
                name="idPavilion" 
                (selectionChange)="initItemsRoomsPavilionSelected($event)" 
                required>
                    <mat-option> Limpar </mat-option>
                    <mat-option *ngFor="let pavilion of pavilions" [value]="pavilion.idPavilion"> {{ pavilion.namePavilion }} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="filter-room">
                <mat-label> {{ edit ? scheduleEdit.nameRoom : "Sala" }}</mat-label>
                <mat-select matNativeControl [(ngModel)]="schedule.fkIdRoom" name="fkIdRoom" [disabled]="edit" (selectionChange)="getIdScheduleRoom($event)" required>
                    <mat-option> Limpar </mat-option>
                    <mat-option *ngFor="let room of rooms" [value]="room.idRoom" > {{ room.nameRoom }} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-tab-group dynamicHeight animationDuration="800ms" [(selectedIndex)]="indexTabGroup" (selectedIndexChange)="getIdScheduleRoom($event)"> 
                <mat-tab label="Matutino" *ngIf="!edit">
                    <div class="active_hour">
                      <mat-checkbox id="unenabledHourMorning" name="unenabledHourMorning" [(ngModel)]="unenabledHourMorning" labelPosition="before">Não informado</mat-checkbox>   
                    </div> 
                    <app-table-schedule [shift]="schedule.shiftMorning" [enabledHour]="unenabledHourMorning"></app-table-schedule> 
                </mat-tab>
                <mat-tab label="Vespertino" *ngIf="!edit">
                    <div class="active_hour">
                      <mat-checkbox id="unenabledHourAfternoon" name="unenabledHourAfternoon" [(ngModel)]="unenabledHourAfternoon" labelPosition="before">Não informado</mat-checkbox>   
                    </div> 
                    <app-table-schedule [shift]="schedule.shift_afternoon" [enabledHour]="unenabledHourAfternoon"></app-table-schedule> 
                </mat-tab>
                <mat-tab label="Noturno" *ngIf="!edit">
                    <div class="active_hour">
                      <mat-checkbox id="unenabledHourNight" name="unenabledHourNight" [(ngModel)]="unenabledHourNight" labelPosition="before">Não informado</mat-checkbox>   
                    </div> 
                    <app-table-schedule [shift]="schedule.shift_night" [enabledHour]="unenabledHourNight"></app-table-schedule> 
                </mat-tab>
                <mat-tab [label]="getShiftSchedule()" *ngIf="edit">
                    <div class="active_hour">
                      <mat-checkbox id="unenabledHourEdit" name="unenabledHourEdit" [(ngModel)]="unenabledHourEdit" labelPosition="before">Não informado</mat-checkbox>   
                    </div> 
                    <app-table-schedule [shift]="scheduleEdit.shiftTime" [enabledHour]="unenabledHourEdit"></app-table-schedule>
                </mat-tab>
            </mat-tab-group>

            <div class="active">
                <mat-label>Ativo</mat-label>
                <mat-checkbox id="active_schedule" name="active_schedule" [(ngModel)]="schedule.activeSchedule"></mat-checkbox>   
            </div> 
            
            <div class="btnActionForm">
                <button mat-raised-button color="warn" type="button" class="cancel" routerLink="/homeSchedule/list"> <img src="assets/crud/cancel.svg"> Cancelar </button>
                <button mat-raised-button color="primary" type="submit" class="save" [disabled]="!scheduleForm.form.valid"> <img src="assets/crud/save.svg"> Salvar </button>
            </div>
        </form>

    </fieldset>
</div>