.filter-pavilion, .filter-room {
    width: 300px;
}

.filter-pavilion {
    margin-right: 20px;
}

fieldset .scheduleRoom{
    height: 400px;
    margin-bottom: 10px;
}

.form-schedule .active{
    position: relative;
    top: 30px;
}

.form-schedule .active ::ng-deep.mat-checkbox,  
.form-schedule .active_hour ::ng-deep.mat-checkbox {
    position: relative;
    left: 5px;
}

.form-schedule .active_hour {
    padding: 10px 0px;
}

